<nav class="navbar navbar-light bg-light fixed-top mb-5">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="/homepage" class="navbar-brand" id="brandStyle">
        <b>Master<span class="material-symbols-outlined" id="brandIcon">restaurant_menu</span>Chef</b>
      </a>
    </div>

    <div class="row navbarList">
      <div class="col-md-7 navbarListHome">
        <a class="nav-link active" aria-current="page" href="/homepage"><b>Home</b></a>
      </div>
        |
      <div class="col-md-2 ms-3 navbarListProfile">
        <a class="nav-link" href="/personalProfile"><b>Profile</b></a>
      </div>
    </div> 

   
      <form class="d-flex" method="GET" action="/signout">
        <button class="btn me-4 btn-outline-danger" type="submit">SignOut</button>
      </form>
    
  </div>
</nav>