<%- include('../components/header') %>


    <body>
        
        <!-- Pills content -->
        <div class="tab-content container mt-5">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form method="POST" action="/createuserprofile">

                      <!-- About textarea -->
                    <div class="main-content">
                        <label class="form-label mb-3" for="about">Write brife About your self: </label>
                        <textarea name="about" class="form-control" id="post_content" style="height: 100px"></textarea>
                    </div>
            
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary mt-4">create</button>
                </form>

            </div>
        </div>
        <!-- Pills content -->
    </body>

</html>

